set -gq @thm_bg "#{{ base00-hex }}"
set -gq @thm_fg "#{{ base05-hex }}"

set -gq @thm_rosewater "#{{ base06-hex }}"
set -gq @thm_flamingo "#{{ base0F-hex }}"
set -gq @thm_mauve "#{{ base0E-hex }}"
set -gq @thm_red "#{{ base08-hex }}"
set -gq @thm_peach "#{{ base09-hex }}"
set -gq @thm_yellow "#{{ base0A-hex }}"
set -gq @thm_green "#{{ base0B-hex }}"
set -gq @thm_teal "#{{ base0C-hex }}"
set -gq @thm_blue "#{{ base0D-hex }}"
set -gq @thm_lavender "#{{ base07-hex }}"

set -gq @thm_surface_2 "#{{ base04-hex }}"
set -gq @thm_surface_1 "#{{ base03-hex }}"
set -gq @thm_surface_0 "#{{ base02-hex }}"
set -gq @thm_mantle "#{{ base01-hex }}"
